In [1]:
import pandas as pd
import numpy as np

In [2]:
db = pd.read_csv('marks.csv')

In [3]:
db

    name  hrs  marks
0  vimal    7     70
1  rahul    5     50
2   eric    8     80
3  harry    2     20

In [4]:
type(db)

pandas.core.frame.DataFrame

In [5]:
# Target / DV
y = db["marks"]

In [6]:
y

0    70
1    50
2    80
3    20
Name: marks, dtype: int64

In [7]:
# feature / IV
x = db['hrs']

In [8]:
x

0    7
1    5
2    8
3    2
Name: hrs, dtype: int64

In [9]:
x.shape # so here it is 1-D which is not possible in real life

(4,)

In [10]:
type(x) # since x is in pandas we need to use reshape function which is of numpy so convert to numpy first

pandas.core.series.Series

In [11]:
x = x.values

In [12]:
type(x)

numpy.ndarray

In [13]:
x = x.reshape(4,1) # now it is converted successfully to numpy and also a 2D array is created for fit function

In [14]:
x.shape

(4, 1)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
mind = LinearRegression()

In [17]:
# exp : model : Linear function is created as soon as this line runs
# so behind the scene they find the value of coefficient/weight 
# model is trained and we have found the weight/coeff ,we have got experience
mind.fit(x,y)

LinearRegression()

In [18]:
mind.predict([[ 6 ]])

array([60.])

In [19]:
# Linear function: y=wx
# w = 10

mind.coef_

array([10.])

In [20]:
mind

LinearRegression()

In [21]:
import joblib

In [22]:
joblib.dump(mind,"marks.pk1")

['marks.pk1']